<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
var buffer = [];
var user = 76;


// window.onload = function() {
//     if (!user) {
//         document.getElementById("workarea").style.display = "none";
//     }
// }

// window.setInterval(function() {
//     // doWork();
//     // getReply();
// }, 10000);

document.onkeypress = function(e) {
    var timestamp = Date.now()%10000000;
    var stroke = {
        k: e.key,
        t: timestamp
    };
    buffer.push(stroke);
}

function doWork() {
    var xhr = new XMLHttpRequest();
    var poststr = user+'/receiver'
    xhr.open("POST", poststr, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        value: buffer 
    }));
    buffer = [];
    window.location.reload();
}


// function getReply() {
//     var xhr = new XMLHttpRequest();
//     var poststr = user+'/auth'
//     xhr.open("POST", poststr, true);
//     xhr.setRequestHeader('Content-Type', 'application/json');
//     xhr.send(JSON.stringify({
//         value: user 
//     }));
// }

// function setuser(){
//     user = document.getElementById("userInput").value;
//     window.location.assign('/' + user + '/');
//     document.getElementById("workarea").style.display = "block";
//     document.getElementById("directions").style.display = "none";
// }

</script>

<html>
    <head>
        <title>QWERTYprints</title>
    </head>
    <body bgcolor={{bgcolor}} >
        <div id="workarea" >
            <h2>Please type the paragraph in the box below:</h2>
            <p>I really didn't know what to do for a few months. I felt that I had let the previous generation of
                entrepreneurs down - that I had dropped the baton as it was being passed to me. I met with David
                Packard and Bob Noyce and tried to apologize for screwing up so badly. I was a very public failure, and I
                even thought about running away from the valley. But something slowly began to dawn on me - I still
                loved what I did. The turn of events at Apple had not changed that one bit. I had been rejected, but I
                was still in love. And so I decided to start over.
                I didn't see it then, but it turned out that getting fired from Apple was the best thing that could have
                ever happened to me. The heaviness of being successful was replaced by the lightness of being a
                beginner again, less sure about everything. It freed me to enter one of the most creative periods of my
                life.
                During the next five years, I started a company named NeXT, another company named Pixar, and fell in
                love with an amazing woman who would become my wife. Pixar went on to create the world's first
                computer animated feature film, Toy Story, and is now the most successful animation studio in the
                world. In a remarkable turn of events, Apple bought NeXT, I returned to Apple, and the technology we
                developed at NeXT is at the heart of Apple's current renaissance. And Laurene and I have a wonderful
                family together.</p>
            <textarea id="texas" rows="10" cols="60"></textarea>
            <button type="button" id="authenticate" onclick="doWork();" >ASDFthenticate Me!</button>
        </div>
    </body>
</html>