<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
var buffer = [];
var urlparts = window.location.href.split('/');
var user = urlparts[urlparts.length -1];


document.onkeypress = function(e) {
    var timestamp = Date.now()%10000000;
    var stroke = {
        k: e.key,
        t: timestamp
    };
    buffer.push(stroke);
}

function doWork() {
    sendKeystrokes();
    // window.location.reload();
}

function sendKeystrokes() {
    var xhr = new XMLHttpRequest();
    var poststr = user+'/receiver'
    xhr.open("POST", poststr, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.send(JSON.stringify({
        value: buffer 
    }));
    buffer = [];
    // window.location.reload();
    // setTimeout(function() { window.location.reload(); }, 5000);
}

</script>

<html>
    <head>
        <title>QWERTYprints</title>
    </head>
    <body bgcolor={{bgcolor}} >
        <div id="workarea" >
            <h2>Please type the paragraph in the box below:</h2>
            <p>
                About a year ago I was diagnosed with cancer. I had a scan at 7:30 in the morning, and it clearly showed
                a tumor on my pancreas. I didn't even know what a pancreas was. The doctors told me this was almost
                certainly a type of cancer that is incurable, and that I should expect to live no longer than three to six
                months. My doctor advised me to go home and get my affairs in order, which is doctor's code for
                prepare to die. It means to try to tell your kids everything you thought you'd have the next 10 years to
                tell them in just a few months. It means to make sure everything is buttoned up so that it will be as easy
                as possible for your family. It means to say your goodbyes.
                And 17 years later I did go to college.But I naively chose a college that was almost as expensive as
                Stanford, and all of my working-class parents' savings were being spent on my college tuition. After six
                months, I couldn't see the value in it. I had no idea what I wanted to do with my life and no idea how
                college was going to help me figure it out. And here I was spending all of the money my parents had
                saved their entire life. So I decided to drop out and trust that it would all work out OK. It was pretty
                scary at the time, but looking back it was one of the best decisions I ever made. The minute I dropped
                out I could stop taking the required classes that didn't interest me, and begin dropping in on the ones
                that looked interesting.</p>
            <textarea id="texas" rows="10" cols="60"></textarea>
            <button type="button" id="authenticate" onclick="doWork();window.location.reload();" >ASDFthenticate Me!</button>
        </div>
    </body>
</html>